.header {
    background-color:springgreen;
    color:steelblue;
    height: 80px;
    margin-top: 15px;
}

.header__container{
    display: grid;
    grid-template-columns: 90% 10%;
    height: 50px;
}

.img {
    margin-top: 15px;
    margin-left: 10px;
    border: 2px solid steelblue;
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);
    transition: transform .2s;
}

.img:hover {
    cursor: pointer;
    transform: scale(2);
}

.header__title {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-family: 'sans-serif';
    margin-top: 10px;
    margin-left: 40px;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid steelblue;
    border-radius: 20px;
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);
}

.header__title > p {
    font-size: 10px;
}

body {
    background-color: springgreen;
}

.post {
    display: grid;
    margin: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.post__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid steelblue;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.1);
    font-family: 'sans-serif';
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.4);

}

.post__title {
    padding-left: 20px;
    color: steelblue;
    font-weight: bold;
    font-size: 25px;
}

.post__container--par {
    color: steelblue;
    font-size: 22px;
}

.plus__container {
    display: flex;
    justify-content: flex-end;
}

.plus__container--img {
    height: 36px;
    transition: transform .2ms;
}

.plus__container--img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.footer {
    height: 50px;
    background-color: springgreen;
    margin: 0px;
}

.footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.item {
    margin: 10px;
    font-size: 14px;
    list-style: none;
}

.item > a {
    text-decoration: none;
    display: inline-block;
    color: steelblue;

}

.item > a:hover {
    text-decoration: underline;
    color: royalblue;

}