.header {
    background-color: orangered;
    color: papayawhip;
}

.header__container{
    display: grid;
    grid-template-columns: 10% 90%;
}

.img {
    margin-left: 10px;
    border: 2px solid papayawhip;
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
}

.img:hover {
    cursor: pointer;
}

.header__title {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid papayawhip;
    border-radius: 20px;
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
}

body {
    background-color: orangered;
}

.post {
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.post__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid coral;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);

}

.post__title {
    padding-left: 20px;
    color: papayawhip;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

.post__container--par {
    font-style: oblique;
    color: papayawhip;
    font-size: 22px;
}