.header {
    background-color: orangered;
    color: papayawhip;
}

.header__container{
    display: grid;
    grid-template-columns: 10% 90%;
}

.img {
    margin-left: 10px;
}

.header__title {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: orangered;
}

.post {
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.post__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border: 2px solid coral;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.2);

}

.post__title {
    padding-left: 20px;
    color: papayawhip;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

.post__container--par {
    font-style: oblique;
    color: papayawhip;
    font-size: 22px;
}